* {
    box-sizing: border-box;
}

body {
    background-color: teal;
    font-family: "Roboto, sans-serif";
    height: 100vh;
    padding: 20px;
}

h1 {
    margin: 0;
    opacity: 0.6;
    letter-spacing: 2px;
    font-size: 4rem;
    color: white;
}

.underline{
    background: #a2ddf6;
    height: 0.3rem;
    width: 5rem;
    margin-left: auto;
    margin-top: auto;
    margin-top: 15px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    background-color: #c2d8fe;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    padding: 60px 40px;
    text-align: center;
    width: 810px;
    margin-top: 30px;
}

h3{
    margin: 0;
    opacity: 0.5;
    letter-spacing: 2px;
}

.joke-text{
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;
}

.button{
    background-color: #ff69b4;
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1), 0 6px 6px (0,0,0,0.1);
    padding: 16px 40px;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: teal;
}

.button:active {
    transform: scale(0.9);
}
